[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/terra/appdesktop/TerraControl.png
Name[en_US]=TerraControl
Exec=/bin/bash -i -c TerraControl
Name=Terra Control
Icon=/home/terra/appdesktop/TerraControl.png
GenericName[en_US.UTF-8]=Terra Control Interface
